<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>about me</h1>
      <h4 class="subheader">please hire me........thanks</h4>
    </div>
    <div class="content">
        <p> my name is Maithri and I'm a senior at BC. please hire me. I'm desperate.</p>
        <p>thanks</p>
    </div>
  </main>
</body>
</html>
