<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>


    <div class = "mainblock">
      <h1> maithri harve </h1>
      <p> senior @ boston college </p>
      <p><a class = "btn btn-primary btn-lg" href = "https://github.com/maithriharve" target="_blank" role = "button">my github!</a></p>
    </div>
    <!-- <div class = "parallax"></div> -->
    <div class = "mainblock">
      <h1>  </h1>
    </div>

  </main>

</body>
</html>